:host{
    .connectButton, .error{
        border-radius: 10px;
        border: 1px solid #fff;
        text-align: center;
        background: #ccc;
        padding: 10px;
        color: #fff;
        font-weight: bold;
        a{
            color: #fff;
            word-break: break-all;
        }
        button{
            margin: 0 auto;
            width: 400px;
            max-width: 100%;
        }
    }
    td {
        app-loader{
            font-size: 0.1em;
        }
        span a{
            word-break: break-all;
        }
    }
    .error{
        background: #FF7979;
    }
    table{
        background: transparent;
    }
}