:host{
    table{
        &.half{
            width: 50%;
            float: left;
        }
        td {
            app-loader{
                font-size: 0.1em;
            }
            span{
                a{
                    word-break: break-all;
                }
                .float{
                    display: block;
                    float: left;
                }
                .nowrap{
                    white-space: nowrap;
                    word-break: normal;
                }
                &.calc{
                    text-align: center;
                    display: flex;
                    flex-flow: row;
                    width: 100%;
                    padding-top: 10px;
                    align-items: center;
                    .delimiter{
                        font-size: 25px;
                        font-weight: bold;
                        padding: 0 10px;
                        color: #1095C1;
                    }
                    .buttonWrap{
                        button{margin: 0 0 0 5px;}
                    }
                    .inputWrap{
                        width: 200px;
                        max-width: 40%;
                        position: relative;
                        input{
                            padding-right: 75px;
                            margin: 0;
                            align-items: center;
                            text-align: right;
                            height: 58px;
                        }
                        span{
                            position: absolute;
                            pointer-events: none;
                            right: 10px;
                            top:50%;
                            transform: translate(0, -50%);
                            padding: 5px 0;
                            width: 60px;
                            text-align: center;
                            border-radius: 5px;
                            background: #1095C1;
                            color: #fff;
                            font-weight: bold;
                        }
                    }
                    ~ .result{
                        margin-top: 10px;
                    }
                }
            }
            &.check{
                input{width: calc(100% - 105px); float: left; margin-right: 5px; }
                button{
                    width: 100px;
                    app-loader{
                        font-size: 0.08em;
                    }
                }
                input, button{
                    margin-bottom: 5px;
                    height: 3.2em;
                    @media only screen and (max-width: 670px) {
                        width: 100%;
                        float: none;
                    }
                }
            }
        }
    }
    input{
        background: #fff;
    }
    .result, .resultError{
        border-radius: 10px;
        padding: 5px;
        text-align: center;
        background-color: #7BEE93;
        font-weight: bold;
    }
    .result{
        color: #fff;
        a{color: #fff;}
    }
    .resultError{
        background: #FF7979;
    }
    countdown ::ng-deep .item{
        background-color: #1095C1;
        text-align: center;
        width: 2.65em;
        display:inline-block;
        margin-right: 4px;
        border-radius: 5px;
        font-size: 0.9em;
        color: #fff;
        height: 1.8em;
        line-height: 1.8em;
    }
    .center{
        text-align: center;
    }
}