:host{
    td span{
        a{
            word-break: break-all;
        }
        .float{
            display: block;
            float: left;
        }
        .nowrap{
            white-space: nowrap;
            word-break: normal;
        }
    }
}