

<table>
  <tr><td colspan="2"><h1>Presale</h1></td></tr>
  <tr>
    <th>
      Presale Contract Address: 
    </th><td>
      <span><a href="{{presaleContractAddress() | addressLink}}" target="_blank">{{presaleContractAddress()}}</a></span>
    </td> 
  </tr>
  <tr>
    <th>
      Deposited Count: 
    </th><td>
        <span *ngIf="presale().depositedCount == -1"><app-loader></app-loader></span>
        <span *ngIf="presale().depositedCount != -1">{{presale().depositedCount | numberLocale}}</span>
    </td> 
  </tr>
  <tr>
      <th>
        Claimed Count: 
      </th><td>
          <span *ngIf="presale().claimedCount == -1"><app-loader></app-loader></span>
          <span *ngIf="presale().claimedCount != -1">{{presale().claimedCount | numberLocale}}</span>
      </td> 
  </tr>
  <tr>
    <th>
      Token Price: 
    </th><td>
        <span *ngIf="presale().tokenPrice == -1 || this.presale().tokenTheir.symbol =='' || this.presale().tokenOur.symbol ==''"><app-loader></app-loader></span>
        <span *ngIf="presale().tokenPrice != -1 && this.presale().tokenTheir.symbol != '' && this.presale().tokenOur.symbol != ''">
          <span class="float">
            <span class="float">{{presale().tokenPrice | numberLocale}} {{this.presale().tokenTheir.symbol}} /</span>
            <span class="float">1 {{this.presale().tokenOur.symbol}}</span>
          </span><br />
          <span class="float">
            <span class="float">({{(1 / presale().tokenPrice) | numberLocale}} {{this.presale().tokenOur.symbol}} /</span>
            <span class="float">1 {{this.presale().tokenTheir.symbol}})</span>
          </span>
        </span>
    </td> 
  </tr>
  <tr>
    <th>
      Total Deposited: 
    </th><td>
        <span *ngIf="presale().totalDeposited == -1 || this.presale().tokenTheir.symbol ==''"><app-loader></app-loader></span>
        <span *ngIf="presale().totalDeposited != -1 &&  this.presale().tokenTheir.symbol != ''">{{presale().totalDeposited | numberLocale}} {{this.presale().tokenTheir.symbol}}</span>
    </td> 
  </tr>
  <tr>
    <th>
      Total Claimed: 
    </th><td>
        <span *ngIf="presale().totalClaimed == -1 || this.presale().tokenOur.symbol ==''"><app-loader></app-loader></span>
        <span *ngIf="presale().totalClaimed != -1 && this.presale().tokenOur.symbol != ''">{{presale().totalClaimed | numberLocale}} {{this.presale().tokenOur.symbol}}</span>
    </td> 
  </tr>
  <tr>
    <th>
      Start Time: 
    </th><td>
        <span *ngIf="presale().startTime == -1"><app-loader></app-loader></span>
        <span *ngIf="presale().startTime != -1">
          <span *ngIf="timestampToTimeout(this.presale().startTime) > 0"><countdown [config]="timeOutConfig(this.presale().startTime)"></countdown> | </span>
          {{presale().startTime * 1000 | dateTimeLocale}}
        </span>
    </td> 
  </tr>
  <tr>
    <th>
      Deposit Timeout: 
    </th><td>
        <span *ngIf="presale().depositTimeOut == -1"><app-loader></app-loader></span>
        <span *ngIf="presale().depositTimeOut != -1">
          <span *ngIf="timestampToTimeout(this.presale().depositTimeOut) > 0"><countdown [config]="timeOutConfig(this.presale().depositTimeOut)"></countdown> | </span>
          {{presale().depositTimeOut * 1000 | dateTimeLocale}}
        </span>
    </td> 
  </tr>
  <tr>
    <th>
      Claim Timeout: 
    </th><td>
        <span *ngIf="presale().claimTimeOut == -1"><app-loader></app-loader></span>
        <span *ngIf="presale().claimTimeOut != -1">
          <span *ngIf="timestampToTimeout(this.presale().claimTimeOut) > 0"><countdown [config]="timeOutConfig(this.presale().claimTimeOut)"></countdown> | </span>
          {{presale().claimTimeOut * 1000 | dateTimeLocale}}
        </span>
    </td> 
  </tr>
  <tr>
    <th>
      Remaining Tokens: 
    </th><td>
        <span *ngIf="presale().remainingTokens == -1 || this.presale().tokenOur.symbol ==''"><app-loader></app-loader></span>
        <span *ngIf="presale().remainingTokens != -1 && this.presale().tokenOur.symbol != ''">{{presale().remainingTokens | numberLocale}} {{this.presale().tokenOur.symbol}}</span>
    </td> 
  </tr>
  <tr>
    <td colspan="2"><h2>Our Token</h2></td>
  </tr>
  <tr>
      <th>
          Token: 
      </th><td>
          <span *ngIf="ourToken() == ''"><app-loader></app-loader></span>
          <span *ngIf="ourToken() != ''">{{ourToken()}}</span>
          <app-add-token-to-wallet [token]=this.presale().tokenOur></app-add-token-to-wallet>
      </td> 
  </tr>
  <tr>
    <th>
        Token address: 
    </th><td>
        <span *ngIf="presale().tokenOur.address == ''"><app-loader></app-loader></span>
        <span *ngIf="presale().tokenOur.address != ''"><a href="{{presale().tokenOur.address | addressLink}}" target="_blank">{{presale().tokenOur.address}}</a></span>
    </td> 
  </tr>
  <tr *ngIf="presale().tokenOur.isReady()">
    <th>
        Claimed: 
    </th>
    <td class="check">
        <input #tokenOurAddress (keyup)="checkClaimedResult = -1" (change)="checkClaimedResult = -1" [attr.disabled]="checkClaimedLoading ? 'disabled' : null" placeholder="Wallet address" value="{{walletAddress()}}" /> 
        <button (click)="checkClaimed(tokenOurAddress.value)">
          <span *ngIf="!checkClaimedLoading">Check</span>
          <app-loader *ngIf="checkClaimedLoading" class="center"></app-loader>
        </button>
        <div *ngIf="checkClaimedResult != -1" class="result">
            {{checkClaimedResult}} {{this.presale().tokenOur.symbol}}
        </div>
    </td> 
  </tr>
  <tr *ngIf="presale().tokenOur.isReady() && walletSigned()">
    <th>
      &nbsp;
    </th>
    <td>
      <button (click)="claim()">
        <span *ngIf="!claimLoading">Claim</span>
        <app-loader *ngIf="claimLoading" class="center"></app-loader>
      </button>
      <div *ngIf="claimTransactionHash" class="result">
        Transaction ID: <a href="{{claimTransactionHash | transactionLink}}" target="_blank">{{claimTransactionHash}}</a>
      </div>
      <div *ngIf="claimError != null" class="resultError">
        {{claimError}}
      </div>
    </td> 
  </tr>
  
  <tr>
    <td colspan="2"><h2>Their Token</h2></td>
  </tr>
  <tr>
      <th>
          Token: 
      </th><td>
          <span *ngIf="theirToken() == ''"><app-loader></app-loader></span>
          <span *ngIf="theirToken() != ''">{{theirToken()}}</span>
          <app-add-token-to-wallet [token]=this.presale().tokenTheir></app-add-token-to-wallet>
      </td> 
  </tr>
  <tr>
    <th>
        Token address: 
    </th><td>
        <span *ngIf="presale().tokenTheir.address == ''"><app-loader></app-loader></span>
        <span *ngIf="presale().tokenTheir.address != ''"><a href="{{presale().tokenTheir.address | addressLink}}" target="_blank">{{presale().tokenTheir.address}}</a></span>
    </td> 
  </tr>
  <tr *ngIf="presale().tokenOur.isReady()">
    <th>
      Deposited: 
    </th>
    <td class="check">
      <input #tokenTheirAddress (keyup)="checkDepositedResult = -1" (change)="checkDepositedResult = -1" [attr.disabled]="checkDepositedLoading ? 'disabled' : null" placeholder="Wallet address" value="{{walletAddress()}}" /> 
      <button (click)="checkDeposited(tokenTheirAddress.value)">
        <span *ngIf="!checkDepositedLoading">Check</span>
        <app-loader *ngIf="checkDepositedLoading" class="center"></app-loader>
      </button>
      <div *ngIf="checkDepositedResult != -1" class="result">
          {{checkDepositedResult}} {{this.presale().tokenTheir.symbol}}
      </div>
    </td> 
  </tr>
  <tr *ngIf="presale().tokenTheir.isReady() && walletSigned() && ispresaleApproved() == true">
    <th>
      Amount: 
    </th>
    <td class="check">
      <input #amount [attr.disabled]="depositLoading ? 'disabled' : null" placeholder="Amount ({{this.presale().tokenTheir.symbol}})" /> 
      <button (click)="deposit(amount.value)">
        <span *ngIf="!depositLoading">Deposit</span>
        <app-loader *ngIf="depositLoading" class="center"></app-loader>
      </button>
      <div *ngIf="depositTransactionHash" class="result">
        Transaction ID: <a href="{{depositTransactionHash | transactionLink}}" target="_blank">{{depositTransactionHash}}</a>
      </div>
      <div *ngIf="depositError != null" class="resultError">
        {{depositError}}
      </div>
    </td> 
  </tr>
  <tr *ngIf="presale().tokenTheir.isReady() && walletSigned() && ispresaleApproved() == false">
    <th>
      Approve Presale Contract: 
    </th>
    <td>
      <button (click)="presaleApprove()">
        <span *ngIf="!presaleApproveWaiting">Approve</span>
        <app-loader *ngIf="presaleApproveWaiting" class="center"></app-loader>
      </button>
      <div *ngIf="depositTransactionHash" class="result">
        Transaction ID: <a href="{{depositTransactionHash | transactionLink}}" target="_blank">{{depositTransactionHash}}</a>
      </div>
    </td> 
  </tr>
</table>