:host{
    width: calc(50% + 20px);
    display: inline-block;
    margin: 0 -10px;
    .data{
        border: 2px solid #1095C1;
        border-radius: 10px;
        margin: 5px 20px;
        overflow: hidden;
        table{
            margin: 0;
            .actions{
                text-align: center;
            }
        }
    }

    .result, .resultError{
        border-radius: 10px;
        padding: 5px;
        text-align: center;
        background-color: #7BEE93;
        font-weight: bold;
    }
    .result{
        color: #fff;
        a{color: #fff; word-break: break-all;}
    }
    .resultError{
        background: #FF7979;
    }
    app-loader{
        font-size: 0.1em;
    }
}