<header>
    <a href="./" routerLink="">{{projectName()}}</a>
    <div class="menu">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="">Airdrop</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="presale">Presale</a>
    </div>
</header>
<main>
    <div *ngIf="badChainId()" class="error"> 
        Bad network - please change
    </div>
    <div class="connectButton"> 
        <span *ngIf="walletConnected()">Wallet Connected: <a href="{{walletAddress() | addressLink}}" target="_blank">{{walletAddress()}}</a></span>
        <button *ngIf="walletConnected()" (click)="disconnect()">Disconnect</button>
        <button *ngIf="!walletConnected()" (click)="connect()">Connect To Wallet</button>
    </div>
    <router-outlet></router-outlet>
</main>
<footer>
</footer>