:host{
    th{width: 240px;}
    .connectButton{
        text-align: center;
        background: #ccc;
        padding: 10px;
        color: #fff;
        button{
            margin: 0 auto;
            width: 400px;
            max-width: 100%;
        }
    }
}